<div class="w1200 clearfix bc mt50 pb20">
    <div class="logo fl"><%=link_to("化妆品网站", products_path, class: "col-red")%></div>
    <div class="fl ml30 mt10">
        <%= render :partial => "products/search_bar" %>
    </div>
    <div class="fl mt10 cart-left">
        <%= render :partial => "products/cart" %>
    </div>
</div>
<%= render :partial => "products/menu" %>
<div class="fenlei">热门商品</div>
<!-Start Yan->
<!-- Hot Product -->
<div class="wthreehome-latest">
    <div class="container">
        <div class="wthreehome-latest-grids">
            <div class="col-md-6 wthreehome-latest-grid wthreehome-latest-grid1">
                <div class="grid">
                    <figure class="effect-apollo">
                        <img src="https://ooo.0o0.ooo/2017/02/14/58a30464a6a6c.jpg" alt="Groovy Apparel">
                        <figcaption></figcaption>
                    </figure>
                </div>
                <h4>DENIM TOPS</h4>
                <h5>Lorem Ipsum Dolor Site Amet</h5>
                <h6><a href="womens.html">Shop Now</a></h6>
            </div>
            <div class="col-md-6 wthreehome-latest-grid wthreehome-latest-grid2">
                <div class="grid">
                    <figure class="effect-apollo">
                        <img src="https://ooo.0o0.ooo/2017/02/14/58a304779fa23.jpg" alt="Groovy Apparel">
                        <figcaption></figcaption>
                    </figure>
                </div>
                <h4>LEATHER JACKETS</h4>
                <h5>Lorem Ipsum Dolor Site Amet</h5>
                <h6><a href="womens.html">Shop Now</a></h6>
            </div>
            <div class="col-md-6 wthreehome-latest-grid wthreehome-latest-grid3">
                <div class="grid">
                    <figure class="effect-apollo">
                        <img src="https://ooo.0o0.ooo/2017/02/14/58a304b68d82a.jpg" alt="Groovy Apparel">
                        <figcaption></figcaption>
                    </figure>
                </div>
                <h4>WATCHES</h4>
                <h5>Lorem Ipsum Dolor Site Amet</h5>
                <h6><a href="womens_accessories.html">Shop Now</a></h6>
            </div>
            <div class="col-md-6 wthreehome-latest-grid wthreehome-latest-grid4">
                <div class="grid">
                    <figure class="effect-apollo">
                        <img src="https://ooo.0o0.ooo/2017/02/14/58a319fc280f0.jpg" alt="Groovy Apparel">
                        <figcaption></figcaption>
                    </figure>
                </div>
                <h4>BEACH WEAR</h4>
                <h5>Lorem Ipsum Dolor Site Amet</h5>
                <h6><a href="mens.html">Shop Now</a></h6>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
</div>
<!-- Hot Product -->
<!-End Yan->
<div class="productList-wrap mt30 bc" id="bg">
    <ul class="productList clearfix pl10 pr10 pb20">
        <% @products.limit(6).each_with_index do |product, index| %>
            <% if index > 0 && (index + 1) % 3 == 0 %>
                <li class="fl productList-item productList-lastItem p15">
                <% else %>
                    <li class="fl productList-item p15">
                    <% end %>
                    <p class="productList-item-pic w400 h400">
                        <%= link_to product_path(product) do %>
                            <% if product.image.present? %>
                                <%= image_tag(product.image.medium.url) %>
                            <% else %>
                                <%= image_tag("http://placehold.it/200x200&text=No Pic") %>
                            <% end %>
                        <% end %>
                    </p>
                    <p class="productList-item-price fb col-red f18 ml150 mt10">￥<%= product.price %></p>
                    <p class="productList-item-name ell">
                        <%= link_to product_path(product) do %>
                            <%= product.title %>
                        <% end %>
                    </p>
                </li>
            <% end %>
        </ul>
    </div>
    <div class="fenlei">护肤</div>
    <div class="productList-wrap mt30 bc">
        <ul class="productList clearfix pl10 pr10 pb20">
            <% @hufus.limit(6).each_with_index do |hufu, index| %>
                <% if index > 0 && (index + 1) % 3 == 0 %>
                    <li class="fl productList-item productList-lastItem p15">
                    <% else %>
                        <li class="fl productList-item p15">
                        <% end %>
                        <p class="productList-item-pic w400 h400">
                            <%= link_to product_path(hufu) do %>
                                <% if hufu.image.present? %>
                                    <%= image_tag(hufu.image.medium.url) %>
                                <% else %>
                                    <%= image_tag("http://placehold.it/200x200&text=No Pic") %>
                                <% end %>
                            <% end %>
                        </p>
                        <p class="productList-item-price fb col-red f18 ml150 mt10">￥<%= hufu.price %></p>
                        <p class="productList-item-name ell">
                            <%= link_to product_path(hufu) do %>
                                <%= hufu.title %>
                            <% end %>
                        </p>
                    </li>
                <% end %>
            </ul>
        </div>
        <div class="fenlei">日化清洁</div>
        <div class="productList-wrap mt30 bc">
            <ul class="productList clearfix pl10 pr10 pb20">
                <% @cleans.limit(6).each_with_index do |clean, index| %>
                    <% if index > 0 && (index + 1) % 3 == 0 %>
                        <li class="fl productList-item productList-lastItem p15">
                        <% else %>
                            <li class="fl productList-item p15">
                            <% end %>
                            <p class="productList-item-pic w400 h400">
                                <%= link_to product_path(clean) do %>
                                    <% if clean.image.present? %>
                                        <%= image_tag(clean.image.medium.url) %>
                                    <% else %>
                                        <%= image_tag("http://placehold.it/200x200&text=No Pic") %>
                                    <% end %>
                                <% end %>
                            </p>
                            <p class="productList-item-price fb col-red f18 ml150 mt10">￥<%= clean.price %></p>
                            <p class="productList-item-name ell">
                                <%= link_to product_path(clean) do %>
                                    <%= clean.title %>
                                <% end %>
                            </p>
                        </li>
                    <% end %>
                </ul>
            </div>
            <div class="fenlei">彩妆</div>
            <div class="productList-wrap mt30 bc">
                <ul class="productList clearfix pl10 pr10 pb20">
                    <% @czs.limit(6).each_with_index do |cz, index| %>
                        <% if index > 0 && (index + 1) % 3 == 0 %>
                            <li class="fl productList-item productList-lastItem p15">
                            <% else %>
                                <li class="fl productList-item p15">
                                <% end %>
                                <p class="productList-item-pic w400 h400">
                                    <%= link_to product_path(cz) do %>
                                        <% if cz.image.present? %>
                                            <%= image_tag(cz.image.medium.url) %>
                                        <% else %>
                                            <%= image_tag("http://placehold.it/200x200&text=No Pic") %>
                                        <% end %>
                                    <% end %>
                                </p>
                                <p class="productList-item-price fb col-red f18 ml150 mt10">￥<%= cz.price %></p>
                                <p class="productList-item-name ell">
                                    <%= link_to product_path(cz) do %>
                                        <%= cz.title %>
                                    <% end %>
                                </p>
                            </li>
                        <% end %>
                    </ul>
                </div>
            </div>
