<div class="w1200 clearfix bc mt50 pb20">
  <div class="logo fl"><%=link_to("化妆品网站", products_path, class: "col-red")%></div>
  <div class="fl ml30 mt10">
    <%= render :partial => "products/search_bar" %>
  </div>
  <div class="fl mt10 cart-left">
      <%= render :partial => "products/cart" %>
  </div>
</div>
<%= render :partial => "products/menu" %>
<div class="row">
  <% @products.each do |product| %>
    <div class="col-xs-6 col-md-3">
      <%= link_to product_path(product) do %>
        <% if product.image.present? %>
          <%= image_tag(product.image.thumb.url, class: "thumbnail") %>
        <% else %>
          <%= image_tag("http://placehold.it/200x200&text=No Pic", class: "thumbnail") %>
        <% end %>
      <% end %>
      <%= product.title %> ￥ <%= product.price %>
    </div>
  <% end %>
</div>
